@{
    ViewData["Title"] = "Home Page";
}





<div class="ViewHomeIndeximage-grid FixPaddingBottom">
    <div class="ViewHomeIndeximage-container" title="Music">
        <img src="~/images/Music.jpg" alt="Image 1">
    </div>
    <div class="ViewHomeIndeximage-container" title="Repository">
        <img src="~/images/Repository.jpg" alt="Image 2">
    </div>
    <div class="ViewHomeIndeximage-container" title="Bookstore">
        <img src="~/images/Bookstore.jpg" alt="Image 3">
    </div>
    <div class="ViewHomeIndeximage-container" title="Team Building">
        <img src="~/images/TeamBuilding.jpg" alt="Image 4">
    </div>
    <div class="ViewHomeIndeximage-container" title="Fashion">
        <img src="~/images/fashion.jpg" alt="Image 5">
    </div>
    <div class="ViewHomeIndeximage-container" title="University">
        <img src="~/images/university.jpg" alt="Image 6">
    </div>
    
</div>
