<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Idea</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Idea.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
  
    <nav class="navbar  navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid ">
        <a class="ImageMenuLeft-navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
          <img src="~/images/logoidea.jpg" alt="Idea"
            style="background-color: white; border-radius: 5px; width: 100px; height: 100px;">
        </a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
          <ul class="MenuLeft-TitleCenter-PC-navbar-nav " id="desktopMenu">
            @if (User.Identity.IsAuthenticated)
            {
              <li class="nav-item dropdown navbarLogoutLeft">
                <a class="nav-link"  id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="navbar-toggler-icon"></i> Menu
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                  {
                    <a class="dropdown-item text-center" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Index">Manage Role</a>
                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Manage User</a>
                    <a class="dropdown-item" asp-area="" asp-controller="AdminCategory" asp-action="Index">Manage Category</a>
                    <a class="dropdown-item" asp-area="" asp-controller="AdminDepartment" asp-action="Index">Manage Department</a>
                    <a class="dropdown-item" asp-area="" asp-controller="AdminSubmission" asp-action="Index">Manage Submission</a>
                  }
                  <a class="dropdown-item" asp-area="" asp-controller="Submission" asp-action="Index">Staff Submission</a>
                </div>
              </li>
              <div class="WelcomeTitle">
                <h1 >Welcome your Idea</h1>
              </div>
              
            }
          </ul>
          <ul class="navbar-nav mr-auto Menu-Toggle-navbar" id="mobileMenu" style="display: none;">
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
              <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Role" asp-action="Index">Manage
                  Role</a></li>
              <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">Manage
                  User</a></li>
              <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="AdminCategory"
                  asp-action="Index">Manage Category</a></li>
              <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="AdminDepartment"
                  asp-action="Index">Manage Department</a></li>
              <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="AdminSubmission"
                  asp-action="Index">Manage Submission</a></li>
            }
            
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Submission" asp-action="Index">Staff Submission</a></li> 
          </ul>
        </div>
        <div>
          <partial name="_LoginPartial" />
        </div>

      </div>
    </nav>
  
  <div class="container">
  <main role="main" class="pb-3">
    @RenderBody()
  </main>
</div>

    <footer class=" footer text-muted ">
        <div class="container ">
            &copy; 2024 - Idea<a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
  <!-- Menu when toggleMenus Device  -->
  <script>
    function toggleMenus() {
      const desktopMenu = document.getElementById('desktopMenu');
      const mobileMenu = document.getElementById('mobileMenu');
      if (window.innerWidth <= 768) {
        desktopMenu.style.display = 'none';
        mobileMenu.style.display = 'block';
      } else {
        desktopMenu.style.display = 'block';
        mobileMenu.style.display = 'none';
      }
    }

    window.addEventListener('resize', toggleMenus);
    window.addEventListener('DOMContentLoaded', toggleMenus);
  </script>

</body>
</html>